<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="LogStash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/gestaosva.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="JSONOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <context />
                <logLevel />
                <loggerName />
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "FinancialAPI-",
                        "@version": "${project.version}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "parent": "%X{X-B3-ParentSpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <threadName />
                <message />
                <!-- log guid support -->
                <mdc />
                <!-- StructuredArgument and Marker support -->
                <arguments/>
                <logstashMarkers />
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>200</maxDepthPerThrowable>
                        <maxLength>40960</maxLength>
                        <shortenedClassNameLength>32</shortenedClassNameLength>
                        <exclude>sun\.reflect\..*\.invoke.*</exclude>
                        <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <logger name="br2.com.bjbraz" level="DEBUG" additivity="false">
        <appender-ref ref="LogStash" />
    </logger>
    <logger name="br.com.bjbraz" level="INFO" additivity="false">
        <appender-ref ref="JSONOUT" />
    </logger>
</configuration>

